<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutAnchorablePane Id="b3ecdbfb-434f-4d5f-b1a3-70d870efdfaf" DockWidth="250">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Проводник" IsSelected="True" ContentId="SOURCE_EXPLORER" CanClose="False" LastActivationTimeStamp="07/07/2026 01:45:26" />
    </LayoutAnchorablePane>
    <LayoutPanel Orientation="Vertical">
      <LayoutDocumentPane>
        <LayoutDocument Title="Стартовая страница" IsSelected="True" IsLastFocusedDocument="True" LastActivationTimeStamp="07/07/2026 21:29:05" />
      </LayoutDocumentPane>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="613.333333333333">
        <LayoutAnchorablePane Id="65c44b44-93f6-4392-884c-7b80bbe1a99a" DockHeight="613.333333333333">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Список ошибок" IsSelected="True" ContentId="REPORT_VIEWER" CanClose="False" LastActivationTimeStamp="07/07/2026 01:51:56" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>